body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  padding: 20px;
}

.synth {
  // background-color: black;
}
// #p-wrapper {
//   margin-top: 50px;
// }

.knobs {
  display: flex;
}

.control-panel {
  border: 6px solid black;
  border-bottom: 0px;
}

.highlighted {
  background-color: #F2F2F2;
  border-radius: 15px;
  cursor:ns-resize;
}
