/* http://codepen.io/thebabydino/pen/VYyYzL */
/* prettify `<input type=range>` #23 (pure CSS) */
/* A pen by Ana Tudor */

$input-pad: 1em;
$input-w: 15.5em;
$input-h: 5em;
$input-sh:
  inset -1px 0 .125em #333,
  inset 1px 0 .125em rgba(#ddd, .4),
  inset 0 0 0 .375em #4c555c,
  inset 0 0 .125em .375em #1d262d,
  inset 0 0 .25em .375em #1d262d;
$input-bg-top: #445463;
$input-bg-low: #28323b;

$track-h: 7/16*1em;

$thumb-h: 3.75em;
$thumb-w: 2.5em;

@mixin track() {
  height: $track-h;
  border-radius: $track-h/2;
  box-shadow: inset 0 0 0 1px #373b40;
  background: linear-gradient(-90deg,
    #1d252e, #171c22);
}

@mixin thumb() {
  border: none;
  width: $thumb-w; height: $thumb-h;
  border-radius: .25em;
  box-shadow:
    inset 0 0 1px #fff,
    0 0 .125em,
    -.3125em 0 1em -.5em,
    0 .25em 1em -.5em,
    0 -.25em 1em -.5em;
  background:
    radial-gradient(#{at 50% 0},
      #eee, rgba(#eee, 0) 70%)
    no-repeat 50% 0,
    radial-gradient(#{at 50% 100%},
      #eee, rgba(#eee, 0) 70%)
    no-repeat 50% 100%,
    linear-gradient(90deg,
      #d8d6d7, #878787 25%, #c0bfbd 25%,
      #ccccce 47%, #d0d2d1 48%,
      #dbdfe2, #cdd4da,
      #a6bfb4 52%, #dfe7ea 53%,
      #fafafa 75%, #cbcbcb 75%, #fdfdfd);
  background-size:
    100% .5em, 100% .5em,
    100% 100%;
  color: #111;
}

html {
  height: 100%;
  background:
    linear-gradient(#4f585f, #394046),
    url(http://i.imgur.com/P2qYfG9.jpg);
  background-size: cover;
  background-blend-mode: multiply;

  &[class*='no-smil'] {
    background-image:
      linear-gradient(rgba(#4f585f, .7),
        rgba(#394046, .7)),
      url(http://i.imgur.com/P2qYfG9.jpg);
  }
}

input[type='range'] {
  -webkit-appearance: none;
  box-sizing: border-box;
  position: absolute;
  top: 50%; left: 50%;
  border: none;
  padding: 0 $input-pad;
  width: $input-w; height: $input-h;
  border-radius: .5em;
  transform: translate(-50%, -50%) rotate(-90deg);
  box-shadow:
    $input-sh;
  background:
    linear-gradient(-90deg,
      $input-bg-top 1em,
      rgba($input-bg-top, 0) 1.5em,
      rgba($input-bg-low, 0) calc(100% - 1.5em),
      $input-bg-low calc(100% - 1em)),
    linear-gradient(90deg,
      #4d5d6a .125em, transparent .125em)
    repeat-x 4px 25%,
    linear-gradient(90deg,
      #4d5d6a .125em, transparent .125em)
    repeat-x 4px 75%,
    linear-gradient(-90deg,
      $input-bg-top, $input-bg-low);
  background-size: 100% 100%, .625em 23%, .625em 23%, 100% 100%;
  font-size: 1em;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    @include track();
  }

  &::-moz-range-track {
    @include track();
  }

  &::-ms-track {
    @include track();
    color: transparent;
  }

  &::-ms-fill-lower, &::-ms-fill-upper {
    background: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: ($track-h - $thumb-h)/2;
    @include thumb();
  }

  &::-moz-range-thumb {
    @include thumb();
    cursor: ns-resize;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &::-ms-tooltip { display: none; }

  &:focus {
    outline: none;
    box-shadow:
      $input-sh,
      0 0 .5em rgba(lightblue, .35);
  }
}
